    border: 2px;
	    border-radius: 10px;
	    width: 0px;
	    padding: 5px;}
	 #DrPuddles2 {
	   color: white;
	   background-color: rgb(0, 250, 0);
	   border-color: rgb(0, 250, 0);
	   border: 2px;
	   border-radius: 10px;
	   width: 0px;
	   padding: 5px;}
	  #user {
	    color: white;
	    background-color: rgb(0, 0, 250);
	    border-color: rgb(0, 0, 250);

	    border-radius: 10px;
	    width: 0px;
	    padding: 5px;
	  }
	 #user2 {
	 #enter! {
	   color: white;
	   background-color: rgb(0, 0, 250);
	   border-color: rgb(0, 0, 250);
	   border: 2px;
    border-radius: 10px;
	   width: 0px;
	   padding: 5px;
	 }
	 #enter {
	   position: relative;
	   left: 400px;
	 }
	 #TextBar {
	    position: absolute;
    bottom: 20px;
	   right: 20px;}
	 #TextBar! {
	   position: absolute;
	    width: 400px;
	   bottom: 20px;
	   right: 20px;
	  }
	 #gfg{
	   color:black;
	   visibility: visible;
	 }
